/*--------------------*/
/* FOOTER */
/*--------------------*/

#footer {
  display: inline;  
  float: left;  
  width: 100%;  

  .footer-top {
    display: inline;
    padding: 150px 0;  
    float: left;  
    width: 100%;
    background-color: #4C8EB4; 
    background-image: url("../img/footer.png");
    background-position: right bottom;
    background-size: 650px auto;
    background-repeat: no-repeat;
  }

  .footer-top-inner {
    display: inline;  
    float: left;  
    width: 100%;  
    h2 {
      color: $white;
    }
    p {
      color: $white;
    }
  }

  ul li {
    font-size: 2em;
    line-height: 2em;
    color: $white;

    a {
      color: $white;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .contact {
    display: inline;
    float: left;
    margin-top: 50px;
    width: 100%;
  }

  .contact-map {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    height: 500px;
    display: inline;
    float: left;
    width: 100%;
    iframe{
      border-radius: 4px;
      margin-bottom: -5px;
    }
  }

  .footer-bottom{
    background-color: $primary-color;
    display: inline;
    float: left;
    width: 100%;
  }

  .footer-inner {
    display: inline;
    float: left;
    padding-top: 20px;
    position: relative;
    text-align: center;
    width: 100%;
  }

  .design-info {
    color: $mid-gray;
    display: inline-block; 
    font-size: 14px;
    line-height: 25px;
    margin-top: 20px;
    a {
      color: $mid-gray;
    }
  }

  .copyright-info {
    color: $mid-gray;
    display: inline-block;
    float: right;
    font-size: 14px;
    line-height: 25px;  
  }

  .up-btn {
    color: $white;
    left: 47.7%;
    position: absolute;
    top: -28px;
    i {
      color: $black;
    }
    &:hover, &:focus {
      background-color: #4C8EB4;
    }
  }
}