/*--------------------*/
/* Parallax			  */
/*--------------------*/

.parallax-container {
  height: 200px;
  overflow: hidden;
  position: relative;
}

.parallax {
  bottom: 0;
  left: -1px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.sep {
	background-attachment: fixed;
	background-position: 50% 0;
	background-repeat: no-repeat;
	height: 450px;
	position: relative;

	width: 100%;
	
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.about {
    background-image: url("../img/office.jpg");
}