// Colours
$primary-color: #78ADC9;
$white: #FFFFFF;
$black: #000000;
$dark-gray: #3B3B3B;
$mid-gray: #555555;
$font-gray: #666666;
$light-gray: #EEEEEE;

// Breakpoints
$break-mobile: 480px;
$break-phablet: 600px;
$break-tablet: 991px;
$break-desktop: 1199px;
$break-large-screen: 1600px;


// Typography
$fontsize-base: 16px !default;

$fontsize-large: ceil(($fontsize-base * 1.25)) !default;
$fontsize-small: ceil(($fontsize-base * 0.85)) !default;

//Line-height
$lineheight-base: 1.428571429 !default;

// Header Styles
$h1-fontsize: 4.5em; // ~72px
$h2-fontsize: 3em !default; // ~48px
$h3-fontsize: 2em !default; // ~32px
$h4-fontsize: 1.5em !default; // ~24px
$h5-fontsize: 1.125em !default; // ~18px
$h6-fontsize: .875em !default; // ~14px
