/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*--------------------*/
/* BASIC TYPOGRAPHY   */
/*--------------------*/
/* line 5, ../sass/base/_base.scss */
body {
  font-size: 16px;
}

/* line 9, ../sass/base/_base.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto",sans-serif;
}

/* line 18, ../sass/base/_base.scss */
h2 {
  font-size: 3em;
}

/* line 22, ../sass/base/_base.scss */
h3 {
  color: #78ADC9;
  margin-top: 0;
  font-size: 1.5em;
  font-weight: 600;
  text-transform: uppercase;
}

/* line 30, ../sass/base/_base.scss */
h4 {
  font-size: 1.5em;
  line-height: 1.6em;
  margin: 0;
}

/* line 36, ../sass/base/_base.scss */
h5 {
  font-size: 1.125em;
  line-height: 1.4em;
  margin: 0;
}

/* line 42, ../sass/base/_base.scss */
p {
  font-size: 1em;
  line-height: 28px;
  margin-bottom: 35px;
}

/* line 48, ../sass/base/_base.scss */
a {
  color: #78ADC9;
}

/* line 52, ../sass/base/_base.scss */
.btn, .btn-large {
  background-color: #78ADC9;
}

/* line 56, ../sass/base/_base.scss */
.btn:hover, .btn-large:hover {
  background-color: #78ADC9;
}

/* line 60, ../sass/base/_base.scss */
.title {
  color: #78ADC9;
}

/* line 64, ../sass/base/_base.scss */
.main-wrapper {
  display: inline;
  width: 100%;
  float: left;
}

/* line 70, ../sass/base/_base.scss */
small {
  color: #666666;
}

/* Preloader */
/* line 75, ../sass/base/_base.scss */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  /* change if the mask should have another color then white */
  z-index: 99999;
  /* makes sure it stays on top */
}

/* line 85, ../sass/base/_base.scss */
#banner {
  display: inline;
  float: left;
  width: 100%;
  min-height: 200px;
}

/* line 92, ../sass/base/_base.scss */
.header-title {
  color: #fff;
  font-size: 40px;
  font-weight: 900;
  line-height: 40px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

/*--------------------*/
/* Home */
/*--------------------*/
/* line 6, ../sass/modules/_home.scss */
body {
  background: #222;
}

/* line 9, ../sass/modules/_home.scss */
#home {
  background-image: url("../img/home-bg.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}
/* line 17, ../sass/modules/_home.scss */
#home .overlay-section {
  background: rgba(0, 0, 0, 0.85) none repeat scroll 0 0;
  height: 100%;
  width: 100%;
}
/* line 23, ../sass/modules/_home.scss */
#home .home-inner {
  display: inline;
  float: left;
  text-align: center;
  position: relative;
  width: 100%;
  padding: 10px;
  margin-top: 15%;
  text-shadow: 2px 2px 2px #222;
  color: #78ADC9;
}
/* line 34, ../sass/modules/_home.scss */
#home .home-inner h1 {
  font-size: 60px;
  margin-bottom: 1em;
}
/* line 39, ../sass/modules/_home.scss */
#home .home-inner h2 {
  font-size: 40px;
  margin-bottom: 0;
}
/* line 44, ../sass/modules/_home.scss */
#home .home-inner p {
  font-size: 15px;
  color: #FADC86;
  margin: 0;
}
