/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*--------------------*/
/* BASIC TYPOGRAPHY   */
/*--------------------*/
/* line 5, ../sass/base/_base.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto",sans-serif;
}

/* line 14, ../sass/base/_base.scss */
a {
  color: #78ADC9;
}

/* line 18, ../sass/base/_base.scss */
.btn, .btn-large {
  background-color: #78ADC9;
}

/* line 22, ../sass/base/_base.scss */
.btn:hover, .btn-large:hover {
  background-color: #78ADC9;
}

/* line 26, ../sass/base/_base.scss */
.title {
  color: #78ADC9;
}

/* line 30, ../sass/base/_base.scss */
.main-wrapper {
  display: inline;
  width: 100%;
  float: left;
}

/* line 36, ../sass/base/_base.scss */
small {
  color: #666666;
}

/* Preloader */
/* line 41, ../sass/base/_base.scss */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  /* change if the mask should have another color then white */
  z-index: 99999;
  /* makes sure it stays on top */
}

/* line 51, ../sass/base/_base.scss */
#banner {
  display: inline;
  float: left;
  width: 100%;
  min-height: 200px;
}

/* line 58, ../sass/base/_base.scss */
.header-title {
  color: #fff;
  font-size: 40px;
  font-weight: 900;
  line-height: 40px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

/*--------------------*/
/* NAV */
/*--------------------*/
/* line 5, ../sass/layout/_nav.scss */
.navbar-fixed nav {
  background-color: #78ADC9;
}

/* line 9, ../sass/layout/_nav.scss */
.customNavigation i {
  color: #78ADC9;
}

/* line 13, ../sass/layout/_nav.scss */
.custom-nav li a {
  font-family: "Roboto",sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  padding: 25px 20px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}

/* line 26, ../sass/layout/_nav.scss */
nav .brand-logo {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.1rem;
}
@media (min-width: 480px) {
  /* line 26, ../sass/layout/_nav.scss */
  nav .brand-logo {
    font-size: 1.4rem;
  }
}
@media (min-width: 600px) {
  /* line 26, ../sass/layout/_nav.scss */
  nav .brand-logo {
    font-size: 1.8rem;
  }
}
@media (min-width: 991px) {
  /* line 26, ../sass/layout/_nav.scss */
  nav .brand-logo {
    font-size: 2.1rem;
  }
}
/* line 39, ../sass/layout/_nav.scss */
nav .brand-logo img {
  height: 45px;
  margin-top: 10px;
}

/* line 45, ../sass/layout/_nav.scss */
.side-nav a {
  text-transform: uppercase;
}
/* line 47, ../sass/layout/_nav.scss */
.side-nav a li:hover, .side-nav a li.active {
  background-color: #78ADC9;
  color: #FFFFFF;
}
/* line 51, ../sass/layout/_nav.scss */
.side-nav a a:hover {
  color: #FFFFFF;
}

/* line 56, ../sass/layout/_nav.scss */
.progress .indeterminate {
  background-color: #78ADC9;
}

/*--------------------*/
/* Overlay 			  */
/*--------------------*/
/* line 5, ../sass/layout/_overlay.scss */
.overlay-header {
  opacity: 0.7;
  /*background: rgba(255, 255, 255, 0.92) none repeat scroll 0 0;*/
  height: 100%;
  padding: 20px 0;
  width: 100%;
  background-color: #78ADC9;
}

/* line 14, ../sass/layout/_overlay.scss */
.overlay-content {
  height: 100%;
  left: 0;
  padding: 30px 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 10;
}

/*--------------------*/
/* Parallax			  */
/*--------------------*/
/* line 5, ../sass/layout/_parallax.scss */
.parallax-container {
  height: 200px;
  overflow: hidden;
  position: relative;
}

/* line 11, ../sass/layout/_parallax.scss */
.parallax {
  bottom: 0;
  left: -1px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

/* line 20, ../sass/layout/_parallax.scss */
.sep {
  background-attachment: fixed;
  background-position: 50% 0;
  background-repeat: no-repeat;
  height: 450px;
  position: relative;
  width: 100%;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 40, ../sass/layout/_parallax.scss */
.about {
  background-image: url("../img/office.jpg");
}

/*--------------------*/
/* FOOTER */
/*--------------------*/
/* line 5, ../sass/layout/_footer.scss */
#footer {
  display: inline;
  float: left;
  width: 100%;
}
/* line 10, ../sass/layout/_footer.scss */
#footer .footer-top {
  display: inline;
  padding: 80px 0;
  float: left;
  width: 100%;
  background-color: #4C8EB4;
  background-image: url("../img/footer.png");
  background-position: right bottom;
  background-size: 260px auto;
  background-repeat: no-repeat;
}
@media (min-width: 480px) {
  /* line 10, ../sass/layout/_footer.scss */
  #footer .footer-top {
    background-size: 300px auto;
  }
}
@media (min-width: 600px) {
  /* line 10, ../sass/layout/_footer.scss */
  #footer .footer-top {
    background-size: 400px auto;
  }
}
@media (min-width: 991px) {
  /* line 10, ../sass/layout/_footer.scss */
  #footer .footer-top {
    background-size: 550px auto;
  }
}
@media (min-width: 1199px) {
  /* line 10, ../sass/layout/_footer.scss */
  #footer .footer-top {
    background-size: 650px auto;
  }
}
/* line 34, ../sass/layout/_footer.scss */
#footer .footer-top-inner {
  display: inline;
  float: left;
  width: 100%;
}
/* line 38, ../sass/layout/_footer.scss */
#footer .footer-top-inner h2 {
  color: #FFFFFF;
}
/* line 41, ../sass/layout/_footer.scss */
#footer .footer-top-inner p {
  color: #FFFFFF;
}
/* line 46, ../sass/layout/_footer.scss */
#footer ul li {
  font-size: 1.2em;
  line-height: 2em;
  color: #FFFFFF;
}
@media (min-width: 991px) {
  /* line 46, ../sass/layout/_footer.scss */
  #footer ul li {
    font-size: 2em;
    line-height: 2em;
  }
}
/* line 54, ../sass/layout/_footer.scss */
#footer ul li a {
  color: #FFFFFF;
}
/* line 56, ../sass/layout/_footer.scss */
#footer ul li a:hover {
  text-decoration: underline;
}
/* line 62, ../sass/layout/_footer.scss */
#footer .contact {
  display: inline;
  float: left;
  margin-top: 10px;
  width: 100%;
}
@media (min-width: 991px) {
  /* line 62, ../sass/layout/_footer.scss */
  #footer .contact {
    margin-top: 50px;
  }
}
/* line 72, ../sass/layout/_footer.scss */
#footer .contact-map {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  height: 500px;
  display: inline;
  float: left;
  width: 100%;
}
/* line 79, ../sass/layout/_footer.scss */
#footer .contact-map iframe {
  border-radius: 4px;
  margin-bottom: -5px;
}
/* line 85, ../sass/layout/_footer.scss */
#footer .footer-bottom {
  background-color: #78ADC9;
  display: inline;
  float: left;
  width: 100%;
}
/* line 92, ../sass/layout/_footer.scss */
#footer .footer-inner {
  display: inline;
  float: left;
  padding-top: 20px;
  position: relative;
  text-align: center;
  width: 100%;
}
/* line 101, ../sass/layout/_footer.scss */
#footer .design-info {
  color: #555555;
  display: inline-block;
  font-size: 14px;
  line-height: 25px;
  margin-top: 20px;
}
/* line 107, ../sass/layout/_footer.scss */
#footer .design-info a {
  color: #555555;
}
/* line 112, ../sass/layout/_footer.scss */
#footer .copyright-info {
  color: #555555;
  display: inline-block;
  float: right;
  font-size: 14px;
  line-height: 25px;
}
/* line 120, ../sass/layout/_footer.scss */
#footer .up-btn {
  color: #FFFFFF;
  left: 45%;
  position: absolute;
  top: -28px;
}
/* line 125, ../sass/layout/_footer.scss */
#footer .up-btn i {
  color: #000000;
}
/* line 128, ../sass/layout/_footer.scss */
#footer .up-btn:hover, #footer .up-btn:focus {
  background-color: #4C8EB4;
}

/*--------------------*/
/* Home */
/*--------------------*/
/* line 7, ../sass/modules/_home.scss */
#home {
  background-image: url("../img/home-bg.jpg");
  background-position: 100% 100%;
  background-size: 100% 100%;
  display: inline;
  float: left;
  height: 380px;
  position: relative;
  width: 100%;
}
@media (min-width: 600px) {
  /* line 7, ../sass/modules/_home.scss */
  #home {
    height: 480px;
  }
}
@media (min-width: 991px) {
  /* line 7, ../sass/modules/_home.scss */
  #home {
    height: 560px;
  }
}
@media (min-width: 1199px) {
  /* line 7, ../sass/modules/_home.scss */
  #home {
    height: 600px;
  }
}
/* line 26, ../sass/modules/_home.scss */
#home .overlay-section {
  background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
  height: 100%;
  width: 100%;
}
/* line 32, ../sass/modules/_home.scss */
#home .home-inner {
  display: inline;
  float: left;
  text-align: center;
  position: relative;
  width: 100%;
  padding: 10px;
}
@media (min-width: 600px) {
  /* line 32, ../sass/modules/_home.scss */
  #home .home-inner {
    padding: 52px;
  }
}
@media (min-width: 991px) {
  /* line 32, ../sass/modules/_home.scss */
  #home .home-inner {
    padding: 180px;
  }
}
/* line 45, ../sass/modules/_home.scss */
#home .home-inner p {
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 10px;
  text-transform: uppercase;
}
@media (min-width: 600px) {
  /* line 45, ../sass/modules/_home.scss */
  #home .home-inner p {
    margin-bottom: 38px;
  }
}
/* line 57, ../sass/modules/_home.scss */
#home .home-title {
  color: #FFFFFF;
  font-size: 32px;
  font-weight: 700;
  margin: 15px 0;
  text-transform: uppercase;
}
@media (min-width: 600px) {
  /* line 57, ../sass/modules/_home.scss */
  #home .home-title {
    font-size: 52px;
  }
}
@media (min-width: 991px) {
  /* line 57, ../sass/modules/_home.scss */
  #home .home-title {
    font-size: 72px;
  }
}
/* line 69, ../sass/modules/_home.scss */
#home .home-title span {
  color: #78ADC9;
}
/* line 73, ../sass/modules/_home.scss */
#home .call-to-about {
  bottom: 0;
  left: 47.5%;
  position: absolute;
}
/* line 77, ../sass/modules/_home.scss */
#home .call-to-about i {
  color: #78ADC9;
}

/*--------------------*/
/* ABOUT */
/*--------------------*/
/* line 5, ../sass/modules/_about.scss */
#about {
  background-color: #fafafa;
  float: left;
  display: inline;
  padding: 80px 0;
  width: 100%;
}
/* line 12, ../sass/modules/_about.scss */
#about .about-inner {
  display: inline;
  min-height: 300px;
  float: left;
  width: 100%;
}
/* line 17, ../sass/modules/_about.scss */
#about .about-inner h3 {
  color: #78ADC9;
}
/* line 22, ../sass/modules/_about.scss */
#about .about-inner-left {
  display: inline;
  text-align: center;
  float: left;
  width: 100%;
}
/* line 29, ../sass/modules/_about.scss */
#about .about-inner-right {
  min-height: 250px;
  display: inline;
  float: left;
  width: 100%;
}
/* line 34, ../sass/modules/_about.scss */
#about .about-inner-right h3 {
  margin-top: 0px;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
}
/* line 40, ../sass/modules/_about.scss */
#about .about-inner-right p {
  color: #727272;
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 35px;
}

/* line 49, ../sass/modules/_about.scss */
.profile-img {
  border: 5px solid #FFFFFF;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  height: 130px;
  margin: 0 auto;
  width: 140px;
}

/* line 57, ../sass/modules/_about.scss */
.personal-information {
  display: inline;
  float: left;
  width: 100%;
}
/* line 62, ../sass/modules/_about.scss */
.personal-information h3 {
  color: #78ADC9;
  margin-top: 0px;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
}
/* line 70, ../sass/modules/_about.scss */
.personal-information ul li {
  border-bottom: 1px solid #EEEEEE;
  color: #727272;
  font-size: 15px;
  margin-bottom: 12px;
  padding-bottom: 12px;
}

@media (min-width: 1199px) {
  /* line 79, ../sass/modules/_about.scss */
  .resume-btn {
    margin-top: 160px;
    margin-left: 50px;
  }
}

/* line 86, ../sass/modules/_about.scss */
.pro-bar-container.color-default {
  background-color: #EEEEEE;
}

/* line 90, ../sass/modules/_about.scss */
.custom-icon {
  width: 4em;
  height: auto;
}

/*--------------------*/
/* CV */
/*--------------------*/
/* line 6, ../sass/modules/_cv.scss */
#cv {
  display: inline;
  float: left;
  width: 100%;
  padding: 0;
  background-color: #FFFFFF;
}
/* line 13, ../sass/modules/_cv.scss */
#cv .skill-block {
  padding: 50px 0 0 !important;
  text-align: center;
  color: #000000;
}
/* line 20, ../sass/modules/_cv.scss */
#cv #experiance li {
  width: 100%;
  z-index: 2;
  position: relative;
  float: left;
}
/* line 27, ../sass/modules/_cv.scss */
#cv #experiance .year {
  font-size: .8em;
  color: #666666;
  width: 100%;
  text-align: right;
  background: #FFFFFF;
  display: inline-block;
}
@media (min-width: 991px) {
  /* line 27, ../sass/modules/_cv.scss */
  #cv #experiance .year {
    text-align: left;
    width: 10%;
  }
}
/* line 40, ../sass/modules/_cv.scss */
#cv #experiance .description {
  width: 100%;
  display: inline-block;
  background: #eee;
  margin-bottom: 20px;
  position: relative;
  padding: 10px 10px 0;
  border-bottom: 1px solid #ddd;
}
@media (min-width: 991px) {
  /* line 40, ../sass/modules/_cv.scss */
  #cv #experiance .description {
    width: 90%;
    float: right;
  }
}
/* line 54, ../sass/modules/_cv.scss */
#cv #experiance h3 {
  font-size: 1.3em;
  line-height: 1.4em;
  margin: 0;
}
/* line 59, ../sass/modules/_cv.scss */
#cv #experiance h4 {
  font-size: 1.1em;
  line-height: 1.2em;
  margin: 1em 0 0;
}
/* line 64, ../sass/modules/_cv.scss */
#cv #experiance p {
  font-size: .8em;
}
/* line 70, ../sass/modules/_cv.scss */
#cv #skill .btn-ghost {
  border: 1px solid #ddd;
  background: #EEEEEE;
  padding: 10px;
  margin: 0 .1em .3em 0;
  display: inline-block;
}
/* line 79, ../sass/modules/_cv.scss */
#cv .skill-inner {
  display: inline;
  float: left;
  width: 100%;
}
/* line 83, ../sass/modules/_cv.scss */
#cv .skill-inner p {
  color: #727272;
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
}
/* line 91, ../sass/modules/_cv.scss */
#cv .title {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 35px;
  text-transform: uppercase;
}
/* line 99, ../sass/modules/_cv.scss */
#cv .skill-progress-bar {
  display: inline;
  float: left;
  width: 100%;
}
/* line 103, ../sass/modules/_cv.scss */
#cv .skill-progress-bar span {
  color: #727272;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  text-transform: uppercase;
}
/* line 113, ../sass/modules/_cv.scss */
#cv .pro-bar-container {
  border-radius: 0;
  height: 30px;
}
/* line 118, ../sass/modules/_cv.scss */
#cv .pro-bar {
  border-radius: 0px;
  height: 30px;
}
/* line 123, ../sass/modules/_cv.scss */
#cv .client-row {
  margin: 40px 0;
}
/* line 125, ../sass/modules/_cv.scss */
#cv .client-row .client-logo {
  height: 32px;
  margin-bottom: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 991px) {
  /* line 125, ../sass/modules/_cv.scss */
  #cv .client-row .client-logo {
    height: 50px;
  }
}

/*--------------------*/
/* TESTIMONIAL */
/*--------------------*/
/* line 5, ../sass/modules/_testimonial.scss */
#testimonial {
  display: inline;
  padding: 60px 0;
  float: left;
  width: 100%;
  background-color: #99D4A5;
}

/* line 13, ../sass/modules/_testimonial.scss */
.testimonial-inner {
  display: inline;
  float: left;
  width: 100%;
}
/* line 17, ../sass/modules/_testimonial.scss */
.testimonial-inner h2, .testimonial-inner p {
  color: #FFFFFF;
}

/* line 22, ../sass/modules/_testimonial.scss */
.testimonial-slider-area {
  display: inline;
  float: left;
  margin-top: 20px;
  width: 100%;
  position: relative;
}

/* line 30, ../sass/modules/_testimonial.scss */
.testimonial-slider {
  display: inline;
  float: left;
  width: 100%;
}

/* line 36, ../sass/modules/_testimonial.scss */
.single-testimonial {
  background-color: #fff;
  border-radius: 2px;
  margin: 0.5rem 0 1rem;
  overflow: hidden;
  padding: 35px;
  position: relative;
  margin-left: 20px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
@media (min-width: 600px) {
  /* line 36, ../sass/modules/_testimonial.scss */
  .single-testimonial {
    padding: 15px;
  }
}

/* line 50, ../sass/modules/_testimonial.scss */
.testimonial-content {
  float: left;
  display: inline;
  font-size: .8em;
}
@media (min-width: 600px) {
  /* line 50, ../sass/modules/_testimonial.scss */
  .testimonial-content {
    height: 380px;
  }
}
@media (min-width: 991px) {
  /* line 50, ../sass/modules/_testimonial.scss */
  .testimonial-content {
    height: 260px;
  }
}
@media (min-width: 1199px) {
  /* line 50, ../sass/modules/_testimonial.scss */
  .testimonial-content {
    height: 240px;
  }
}
/* line 63, ../sass/modules/_testimonial.scss */
.testimonial-content i {
  float: right;
  margin: 0 0 20px 20px;
}
/* line 67, ../sass/modules/_testimonial.scss */
.testimonial-content h3 {
  font-size: 2em;
  line-height: 1em;
  margin: 0 0 10px;
  text-align: left;
  width: 100%;
}
/* line 74, ../sass/modules/_testimonial.scss */
.testimonial-content span {
  color: #666666;
  display: block;
  font-size: .8em;
}
/* line 79, ../sass/modules/_testimonial.scss */
.testimonial-content p {
  color: #000000;
  font-style: italic;
}

/* line 85, ../sass/modules/_testimonial.scss */
.prev2 {
  margin-top: 42%;
  left: -6%;
  position: absolute;
}
@media (min-width: 480px) {
  /* line 85, ../sass/modules/_testimonial.scss */
  .prev2 {
    margin-top: 28%;
    left: -5%;
  }
}
@media (min-width: 600px) {
  /* line 85, ../sass/modules/_testimonial.scss */
  .prev2 {
    margin-top: 25%;
    left: -8%;
  }
}
@media (min-width: 991px) {
  /* line 85, ../sass/modules/_testimonial.scss */
  .prev2 {
    margin-top: 15%;
  }
}
@media (min-width: 1199px) {
  /* line 85, ../sass/modules/_testimonial.scss */
  .prev2 {
    margin-top: 8%;
    left: -6%;
  }
}

/* line 106, ../sass/modules/_testimonial.scss */
.next2 {
  margin-top: 42%;
  right: -4.5%;
  position: absolute;
}
@media (min-width: 480px) {
  /* line 106, ../sass/modules/_testimonial.scss */
  .next2 {
    margin-top: 28%;
  }
}
@media (min-width: 600px) {
  /* line 106, ../sass/modules/_testimonial.scss */
  .next2 {
    margin-top: 25%;
    right: -8%;
  }
}
@media (min-width: 991px) {
  /* line 106, ../sass/modules/_testimonial.scss */
  .next2 {
    margin-top: 15%;
  }
}
@media (min-width: 1199px) {
  /* line 106, ../sass/modules/_testimonial.scss */
  .next2 {
    margin-top: 8%;
    right: -6%;
  }
}
