/*--------------------*/
/* CV */
/*--------------------*/


#cv {
  display: inline;
  float: left;
  width: 100%;
  padding: 40px 0 0;
  background-color: $white; 

  .skill-block {
      padding: 50px 0 0 !important;
      text-align: center;
      color: $black;
  }

  #experiance {
    li {
        width: 100%;
        z-index: 2;
        position: relative;
        float: left;
    }

    .year {
      font-size: .8em;
      color: $font-gray;
      width: 100%;
      text-align: right;
      background: $white;
      display: inline-block;
      @include breakpoint($break-tablet) {
        text-align: left;
        width: 8%;
        margin-right: 2%;
      }
  }

    .description {
        width: 100%;
        display: inline-block;
        background: #eee;
        margin-bottom: 20px;
        position: relative;
        padding: 10px 10px 0;
        border-bottom: 1px solid #ddd;
        @include breakpoint($break-tablet) {
          width: 90%;
          float: right;
        }
    }

    h3 {
      font-size: 1.3em;
      line-height: 1.4em;
      margin: 0;
    }
    h4 {
      font-size: 1.1em;
      line-height: 1.2em;
      margin: 1em 0 0;
    }
    p {
      font-size: .8em;
    }
  }

  #skill {
    .btn-ghost {
      border: 1px solid #ddd;
      background: $light-gray;
      padding: 10px;
      margin: 0 .1em .3em 0;
      display: inline-block;
    }
  }

  .skill-inner {
    display: inline;
    float: left;
    width: 100%;
    p {
      color: #727272;
      font-size: 16px;
      line-height: 30px;
      font-weight: 400;
    } 
  }

  .title {
    font-size: 28px;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 35px;
    text-transform: uppercase;
  }

  .skill-progress-bar {
    display: inline;  
    float: left;  
    width: 100%; 
    span {
      color: #727272;
      display: inline-block;
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 5px;
      text-transform: uppercase;
    } 
  }

  .pro-bar-container {
    border-radius: 0;
    height: 30px;  
  }

  .pro-bar {
    border-radius: 0px;
    height: 30px; 
  }

  .client-row {
    margin: 40px 0;
      .client-logo {
        height: 32px;
        margin-bottom: 25px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        @include breakpoint($break-tablet) {
          height: 50px;
        }
      }
  }
}
