
/*--------------------*/
/* Home */
/*--------------------*/

body {
  background: #222;
}
#home {
  background-image: url("../img/home-bg.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;

  .overlay-section {
    background: rgba(0, 0, 0, 0.85) none repeat scroll 0 0;
    height: 100%;
    width: 100%;
  }

  .home-inner {
    display: inline;
    float: left;
    text-align: center;
    position: relative;
    width: 100%;
    padding: 10px;
    margin-top: 15%;
    text-shadow: 2px 2px 2px #222;
    color: #78ADC9;

    h1 {
      font-size: 60px;
      margin-bottom: 1em;
    }

    h2 {
      font-size: 40px;
      margin-bottom: 0;
    }

    p {
      font-size: 15px;
      color: #FADC86;
      margin: 0;
    }
  }
}
