
/*--------------------*/
/* Home */
/*--------------------*/


#home {
  background-image: url("../img/home-bg.jpg");
  background-position: 100% 100%;
  background-size: 100% 100%;
  display: inline;
  float: left;
  height: 380px;
  position: relative;
  width: 100%;
  @include breakpoint($break-phablet) {
    height: 480px;
  }
  @include breakpoint($break-tablet) {
    height: 560px;
  }
  @include breakpoint($break-desktop) {
    height: 600px;
  }

  .overlay-section {
    background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
    height: 100%;
    width: 100%;
  }

  .home-inner {
    display: inline;
    float: left;
    text-align: center;
    position: relative;
    width: 100%;
    padding: 10px;
    @include breakpoint($break-phablet) {
      padding: 52px;
    }
    @include breakpoint($break-tablet) {
      padding: 180px;
    }
    p {
      color: $white;
      font-size: 18px;
      font-weight: 300;
      margin-bottom: 10px;
      text-transform: uppercase;
      @include breakpoint($break-phablet) {
        margin-bottom: 38px;
      }
    }
  }

  .home-title{
    color: $white;
    font-size: 32px;
    font-weight: 700;
    margin: 15px 0;
    text-transform: uppercase;
    @include breakpoint($break-phablet) {
      font-size: 52px;
    }
    @include breakpoint($break-tablet) {
      font-size: 72px;
    }
    span{
      color: $primary-color;
    }
  }
  .call-to-about {
    bottom: 0;  
    left: 47.5%;
    position: absolute;
    i {
      color: $primary-color;
    }
  }
}
